{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <div id="gantt"></div>
    <button type="submit" class="btn btn-primary" id='create_button'>Create</button>
    <script src="{{url_for('static', filename='frappe-gantt.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='frappe-gantt.css')}}">

    <script>
        var tasks = [
            {
                id: 'Task 1',
                name: 'Redesign website',
                start: '2016-12-28',
                end: '2016-12-31',
                progress: 20,
                dependencies: 'Task 2, Task 3',
                custom_class: 'bar-milestone' // optional
            }
        ]
        var gantt = new Gantt("#gantt", tasks)
    </script>

    <script type=text/javascript src="{{
  url_for('static', filename='chart.js') }}"></script>
{% endblock %}
