{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <button type="submit" class="btn btn-primary" id='create_button'>Create</button>
    <br>
    <br>
    <canvas id="myChart" style="height: 400px; width: 80%; margin-top=50px"></canvas>
    <script type=text/javascript src="{{
  url_for('static', filename='chart.js') }}"></script>
{% endblock %}
