{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
    <form method="POST" action="/">
        {{ form.csrf_token }}
        <div style='position: relative; left: 30px;'>
            <div class="form-group">
                {{wtf.form_field(form.event, style="height: 33px; width: 10%; margin-left=500px")}}
            </div>
            <div class="form-group">
                {{wtf.form_field(form.start, style="height: 33px; width: 10%; margin-left=500px")}}
            </div>
            <div class="form-group">
                {{wtf.form_field(form.end, style="height: 33px; width: 10%; margin-left=500px")}}
            </div>
            <div class="form-group">
                {{wtf.form_field(form.assigned_to, style="height: 33px; width: 10%; margin-left=500px")}}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Go">
            </div>
        </div>
    </form>
    <div style='position: relative; left: 30px;'>
        <a href="/chart"><button type="submit" class="btn btn-primary">Build Chart</button></a>
    </div>
{% endblock %}
